.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.curveexpert
Desktop
NTUSER.DAT{d1a567b9-645a-11ed-a5ce-00059a3c7a00}.TM.blf
NTUSER.DAT{d1a567b9-645a-11ed-a5ce-00059a3c7a00}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{d1a567b9-645a-11ed-a5ce-00059a3c7a00}.TMContainer00000000000000000002.regtrans-ms
OneDrive - Universidad de la Amazonia
Pictures
Videos
ntuser.dat.LOG1
ntuser.dat.LOG2
3D Objects
AppData
Contacts
Creative Cloud Files
CytoscapeConfiguration
Downloads
Documents
